.game {
  padding: 1em 0;
  background: rgba(65, 122, 168, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid #bbbbbb;
  border-radius: .4em;
  width: 100%;
  height: 32em;
  box-shadow: 1px 3px 11px 2px #1a1a1a;
} 

.game-board {
  margin: 1.5em 0;
  padding: 1em;
  border-radius: .6em;
  animation: scale-up-center 0.8s;
}

.board-row {
  display: flex;
}

.square {
  display: grid;
  place-items: center;
  padding: .1em;
  border: 1px solid #bbbbbb;
  border-radius: .1em;
  background: transparent;
  font-size: 1.4em;
  font-weight: bold;
  width: 4em;
  height: 4em;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  font-family: silvers;
  background: rgb(2,0,36);
  background: linear-gradient(320deg, rgba(2,0,36,0) 61%, rgba(255,255,255,0.7203256302521008) 100%);
  animation: scale-up-center 0.4s;
}

.square-value {
  animation: scale-up-center 0.4s;
}

.square-value-x {
  color: rgb(72, 142, 247);
}

.square-value-o {
  color: rgb(247, 72, 72);
}

.square:hover {
  filter: brightness(1.3);
}

@keyframes scale-up-center {
  0%{transform:scale(.5)} 
  
  100%{transform:scale(1)}
}

.img-board-x { 
  height: 2.6em;
  animation: scale-up-center 0.4s;
}

.img-board-o {
  height: 2.8em;
  filter: brightness(1.150);
  animation: scale-up-center 0.4s;
}

.btn-replay {
  display: block;
  margin: 0 auto;
  padding: .4em 1.8em;
  border: 1px solid #000;
  border-radius: .2em;
  background: rgb(238,238,238);
  background: linear-gradient(180deg, rgba(238,238,238,1) 51%, rgba(211,214,213,1) 52%);
}

.btn-replay:hover {
  background: rgba(233,244,255,255);
  background: linear-gradient(180deg, rgba(233,244,255,255) 51%, rgba(190,228,249,255) 52%);
}

.btn-replay:active {
  border: 1px solid #4bbbe3;
}

.points {
  display: flex;
  align-items: center;
  margin: 1.5em 1.5em 0 1em;
}

.points-o {
  margin: 0 2em;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.status {
  font-size: 1.2em;
}

.btn-fondo {
  background: transparent;
  border: none;
}

.btn-fondo img {
  height: 3em;
}

.btn-fondo:hover img {
  filter: brightness(1.1);
}